@import "npm:@fortawesome/fontawesome-free/css/all.css";
@import "variables";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/home";
@import "layouts/discography";
@import "layouts/category";
@import "layouts/about";
@import "layouts/links";

body {
    font-family: $base-font;
    line-height: 1.6;
    color: $primary-color;
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.about-intro, .detail-intro, .links-intro, .category-intro, .index-intro{
    text-align: center;
    padding: 20px;
    background-color: $secondary-color;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;

    .heading {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    h2 {
        font-family: $header-font;
        font-size: 2em;
        margin-bottom: 1em;
    }
}

article {
    background: $secondary-color;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    text-align: justify;

    @media (max-width: 768px) {
        margin: 15px 0px;
    }

    h2, h3 {
        color: $primary-color;
        font-family: $header-font;
        font-size: 1.5em;
        text-align: left;
    }

    p {
        font-size: 1em;
    }

    a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: $link-color;
        color: $secondary-color;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
            background-color: $button-hover-color;
        }
    }
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;

    .button-link {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: $link-color;
        color: $secondary-color;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    
        &:hover {
            background-color: $button-hover-color;
        }
    }
}
