<footer class="site-footer">
    <div class="container">
        <div class="title-logo">
            <img src="assets/images/logo.svg" alt="Logo" class="logo">
            <h1>The Beatles</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="category.html">Artículos</a></li>
                <li><a href="about.html">Presentación</a></li>
                <li><a href="links.html">Enlaces</a></li>
            </ul>
        </nav>
        <p class="footer-text">&copy; 2024 Alejandro Granero Nogales</p>
    </div>
</footer>
