<header class="site-header">
    <div class="container">
        <h1>The Beatles</h1>
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="category.html"><i class="fas fa-th"></i> Categorías</a></li>
                <li><a href="about.html"><i class="fas fa-info-circle"></i> Presentación</a></li>
                <li><a href="links.html"><i class="fas fa-link"></i> Enlaces</a></li>
            </ul>
        </nav>
    </div>
</header>