<header class="site-header">
    <div class="container">
        <div class="title-logo">
            <img src="assets/images/logo.svg" alt="Logo" class="logo">
            <h1>The Beatles</h1>
        </div>
        <nav>
            <ul>
                <li><a href="index.html"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="category.html"><i class="fas fa-th"></i> Artículos</a></li>
                <li><a href="about.html"><i class="fas fa-info-circle"></i> Presentación</a></li>
                <li><a href="links.html"><i class="fas fa-link"></i> Enlaces</a></li>
            </ul>
        </nav>
    </div>
</header>
